@model IncorrectForm;

<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>

    <!-- Initialize Data Table Below-->
    <script>
        $(document).ready(function () {
            $('#IncorrectTable').DataTable();
        });
    </script>
</head>
<body>

    <table id="IncorrectTable" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>TimeStamp</th>
                <th>GivenVerb</th>
                <th>CorrectAnswerFirst</th>
                <th>CorrectAnswerSecond</th>
                <th>SubmittedAnswerFirst</th>
                <th>SubmittedAnswerSecond</th>
                <th>Checked</th>
                <th style="display:none;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var d in Model.IncorrectFormList)
            {
                <tr>
                    <td id="Numara">@d.TimeStamp</td>
                    <td>@d.GivenVerb</td>
                    <td id="İsim">@d.CorrectAnswerFirst</td>
                    <td id="Soyisim">@d.CorrectAnswerSecond</td>
                    <td id="DanismanAdi">@d.SubmittedAnswerFirst</td>
                    <td id="Email">@d.SubmittedAnswerSecond</td>
                    <td id="Sifre">@d.Checked</td>
                    <td style="display:none;"></td>
                </tr>
            }
        </tbody>
    </table>

</body>
</html>



